body{
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-size: 16px;
    color: #464646;
    font-weight: 400;
}
/*   в форме убирает контур  */
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700;
    line-height: 1.2em;    
    color: #04003F;
}
img{
    display: block;
    max-width: 100%; 
}
ul,li{
    display: block;
    padding: 0;
    margin: 0; 
}
.container{
    width: 1390px;
    margin: 0 auto ; 
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
}
.header{
    padding:20px;
    position: relative;
}
.header__set{
    display: flex;
    align-items: center;
}
.logo{
    margin-right: auto;
}
.list__phone{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.list__address{
    margin-left: 145px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.list__item_first{
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
}
.list__item_second{
    color: #fff;
}
.menu{
    display: none;
}
.header-menu{
    display: none;
}
.video{
    margin-top: -115px;
}
.video__first {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    height: 840px;
    z-index: -2;
}
#fullscreen-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 840px;
    object-fit: cover;
    
}
.title{
    color:  #04003F;
    font-weight: 500;
    text-transform: uppercase;
}
/* popup */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}
.popup__content {
    background: #fff;
    max-width: 600px;
    width: 390px;
    padding: 50px;
    padding-top: 25px;
    border-radius: 5px;
    text-align: center;
}
.popup__open {
    visibility: visible;
    opacity: 1;
}
.popup__open_mod {
    visibility: visible;
    opacity: 1;
}
.title__form{
    font-weight: 600;
    color: #000;
    font-size: 35px;
    letter-spacing: 0.02em;
    padding-bottom: 15px;
}
.text__form{
    color:  #464646;
    text-align: center;
    font-weight: 400;
}
.popup__form{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.title__form_small{
    font-weight: 600;
    color: #000;
    font-size: 18px;
    letter-spacing: 0.02em;
    padding-top: 25px;
    padding-bottom: 15px;
}
.input{
    width: 100%;
    height: 40px;
    border: none;
    font-family: Ubuntu;
    border-radius: 5px;
    background: #F7F7F9;
    font-size: 16px;
    padding-left: 20px;
}
.input__textarea{
    max-width: 443px;
    padding: 5px 20px;
    min-height:110px;
    max-height:450px;
    resize: none;
}
.input::placeholder{
    font-weight: 500;
    font-size: 17px;
    color: #464646;
    letter-spacing: 0.02em;
}
.btn__form{
    font-family: Ubuntu;
    display: block;
    color: #fff; 
    padding: 10px 30px;
    background: #00B4A4;;
    font-weight: 400;
    font-size: 17px;
    cursor: pointer;
    letter-spacing: 0.02em;
    border: none;
    border-radius: 5px;
}
.btn__form:hover{
    background: #0c998d;
    transition: 0.2s ease;
}

.popup__close{
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: -35px;
    cursor: pointer;
}
.label{
    font-weight: 500;
    font-size: 15px;
    color: #000000;
    margin-top: -25px;
    gap: 7px;
    cursor: pointer;
}
.custom-checkbox{
    position: relative;
    z-index: -1;
    opacity: 0;
    
}
.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 5px;
    border: 1px solid #00B4A4;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    cursor: pointer;
}
.custom-checkbox:checked+label::before {
    border-radius: 5px;
    border-color: #00B4A4;
    background-color: #ffffff;
    background-image: url("../img/done.png");
}  
.file-upload {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #04003F;
    font-family: Ubuntu;
}
.file-clip{
    width: 20px;
    height: 20px;
    margin-bottom: -20px;
    margin-left: 35px;
}

.file-upload label {
   width: 100%;
    border: 1px solid #00B4A4;
    color: #00B4A4;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
}
input[type="file"] {
    display: none;
}
/* popup end*/

.who{
    padding: 30px 0;
}
.who__set{
    display: flex;
    align-items: center;
}
.title{
    margin-right: auto;
    color:  #04003F;
    font-size: 42px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}
.btn_first{
    color: #00B4A4;
    border: 1px solid #00B4A4;
    line-height: 160%; /* 25.6px */
    padding: 10px 15px;
    width: 240px;
    text-align: center;
    border-radius: 5px;
    margin-right: 20px;
}
.btn_first:hover{
    color: #fff;
    border: 1px solid #00B4A4;
    background: #00B4A4;
    
}
.btn_second{
    color: #fff;
    border: 1px solid #00B4A4;
    background: #00B4A4;
    line-height: 160%; /* 25.6px */
    padding: 10px 15px;
    width: 240px;
    text-align: center;
    border-radius: 5px;
}
.btn_second:hover{
    background: #0c998d;
    
}
.who_mix{
    display: flex;
    justify-content: space-between;
    padding-top: 300px;
   
}
.who_mix_left{
    display: flex;
    align-items: center;
    margin-top: -250px;
    gap: 15px;
    width: 547px;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}
.who_mix_right{
    width: 600px;
    color:  #464646;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; 
    padding-top: 80px;
}
.who_mix_left::before{
    content: "";
    display: block;
    width: 55px;
    height: 120px; 
    background-image: url('../img/vector-1.svg'); /* Встановіть шлях до вашого зображення */
    background-size: cover;
}
.who_kit{
    padding-top: 110px;
}
.who_kit{
    display: flex;
    justify-content: space-between;
}
.who_kit_left{
    width: 796px;
    height: 351px;
}
.who_kit_right{
    display: flex;
    align-items: center;
    width: 355px;
    
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: auto;
}
.who_kit_right:after{
    content: "";
    display: block;
    width: 62px;
    height: 120px; 
    background-image: url('../img/vector-2.svg'); /* Встановіть шлях до вашого зображення */
    background-size: cover;
}
.choice{
    padding: 150px 0;
}
.cart__set{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.cart{
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cart__img{
    width: 450px;
    height: 530px;
}
.cart__title{
    color:  #04003F;
    font-size: 20px;
    font-weight: 500;
}
.cart__text{
    color:  #464646;
    font-size: 16px;
    font-weight: 400;
}
.partners{
    padding: 150px 0;
}
.partners__set{
    padding-top: 50px;
    gap: 25px;
    display: flex;
}
.partners__img{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #04003F;
    position: relative;
}
.partners__first_1{
    width: 168px;
    height: 42px;
}
.partners__first_2{
    width: 107px;
    height: 46px;
}
.partners__first_3{
    width: 124px;
    height: 50px;
}
.partners__first_4{
    width: 108px;
    height: 38.007px;
}
.partners__first_5{
    width: 128px;
    height: 27px;
}
.partners__first_6{
    width: 70px;
    height: 70px;
}
.partners__first_7{
    width: 89px;
    height: 62px;
}
.partners__first_8{
    width: 111px;
    height: 33px;
}
.partners__first_9{
    width: 106px;
    height: 39px;
}
.partners__first{
    width: 506px;
}
.partners__img::after {
    content: "Bilforhandlere";
    position: absolute;
    bottom: -40px; /* Регулюємо відступ тексту від лінії */
    left: 0;
    right: 0;
    text-align: center;
    color: #04003F;
    font-size: 16px; /* Налаштуйте розмір шрифту за потребою */
}
.partners__second{
    width: 551px;
}
.partners__second::after {
    content: "Forsikringsselskap";
}
.partners__third{
    width: 284px;
}
.partners__third::after {
    content: "Bil utleie";
}